*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    background: lightblue;
}
.icon{
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}
.dark-mode{
    cursor: pointer;
}

.container{
    text-align: center;
    min-width: 375px;
    height: 100vh;
    /* margin: 20px 0; */
    background: #22252d;
    /* border-radius: 20px; */
    overflow: hidden;
    position: absolute;
}
.input-1{
    height: 50px;
    width: 300px;
    position: relative;
    top: 200px;
    opacity: 0;
    text-align: right;
    font-size: 20px;
    color: #aeaeb3;
    border: none;
    background: transparent;
    animation: all 0.5s ease;
}
.input{
    height: 100px;
    width: 300px;
    border: none;
    border-radius: 10px;
    margin: 30px 0;
    background: transparent;
    font-size: 45px;
    text-align: right;
    color: #fdfdfe;
    position: relative;
    top: 150px;
}
.button{
    width: 100%;
    height: 100vh;
    background: #2a2d37;
    border-radius: 40px;
    margin-top: 100px;
}
.btn{
    width: 65px;
    height: 65px;
    background: #282b33;
    color: white;
    margin: 15px 10px 10px 10px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.hasil{
    font-size: 25px;
}
.btn:hover{
    background: #fdfdfe;
    color: #282b33;
}

.color{
    color: rgb(50, 187, 180);
}
.color:hover{
    color: rgb(50, 187, 180);
}
.salmon{
    color: salmon;
}
.salmon:hover{
    color: salmon;
}
.lebar{
    padding: 0 65px;
    margin-top: -20px;
}